*.swp
tags
*.cpio.gz
*.o.*
*.o
*.cmd.*
*.mod
*.mod.*
*.order
*.order.cmd
Module.symvers
.*Module.symvers.*
*.ko
*.ko.cmd
*.nv12
scripts/imx477/libisp_no3dn.so
*.elf
.vscode*
sunxi-autogen.h
*built-in.a*
